<?php

return [
    'dot_authorization' => [
        //name of the guest role to use if no identity is provided
        'guest_role' => 'guest',

        'role_provider_manager' => [],

        //example for a flat RBAC model using the InMemoryRoleProvider
        'role_provider' => [
            'type' => 'InMemory',
            'options' => [
                'roles' => [
                    'admin' => [
                        'permissions' => [
                            'edit',
                            'delete',
                            //etc..
                        ]
                    ],
                    'user' => [
                        'permissions' => [
                            //...
                        ]
                    ]
                ]
            ],
        ],

        //example for a hierarchical model, less to write but it can be confusing sometimes
        /*'role_provider' => [
            'type' => 'InMemory',
            'options' => [
                'roles' => [
                    'admin' => [
                        'children' => ['user'],
                        'permissions' => ['create', 'delete']
                    ],
                    'user' => [
                        'children' => ['guest']
                        'permissions' => ['edit']
                    ]
                    'guest' => [
                        'permissions' => ['view']
                    ]
                ]
            ]
        ],*/

        'assertion_manager' => [
            'factories' => [
                //EditAssertion::class => InvokableFactory::class,
            ],
        ],

        'assertions' => [
            [
                'type' => EditAssertion::class,
                'permissions' => ['edit'],
                'options' => []
            ]
        ]
    ]
];
